  	<div style="height:25px;line-height:25px;">&nbsp;</div>
		<!--text 2 begin-->
    <div style="width:610px;padding:0px 20px 10px 20px;overflow:hidden; margin:0px; line-height:24px;">
			<div style="color:#666;font-size:12px;line-height:24px;">
				<a style="color:#ff6600;font-size:12px;line-height:24px; text-decoration:none;">www.ce180.com</a>
				<span style="color:#ff6600;font-size:12px;line-height:18px; font-weight:bold;">思易网</span>所特有的4大功能： 
			</div>
      <div style="color:#666;font-size:12px;line-height:24px;">
				1)简单注册您便能拥有自己的<span style="color:#333;font-size:12px;line-height:18px;font-weight:bold;">电子名片（My E-Name Card）；</span>
      </div>
			<div style="color:#666;font-size:12px;line-height:24px;">
				2)简单选择关注行业，您便能拥个人化的<span style="color:#333;font-size:12px;line-height:18px;font-weight:bold;">商业资讯面板 （My Dashboard）；</span>
      </div>
			<div style="color:#666;font-size:12px;line-height:24px;">
				3)简单<span style="color:#333;font-size:12px;line-height:18px;font-weight:bold;">交换电子名片，</span>您便能结识新的商业伙伴，拥有您的CE180商业伙伴网络；
      </div>
			<div style="color:#666;font-size:12px;line-height:24px;">
				4)更棒的是，<span style="color:#333;font-size:12px;line-height:18px;font-weight:bold;">选择参加CE180在您的城市举办的线下活动，</span>一切就不只停留在互联网上！
      </div>
    </div>
  	<!--text 2 end-->  	

  	<!--text 3 begin-->
    <div style="width:610px;padding:0px 20px 0px 20px;overflow:hidden; margin:0px; line-height:18px;color:#666;">
    	<div style="font-size:12px;line-height:18px;">再次感谢您加入
      	<a style="color:#ff6600;font-size:12px;line-height:24px; text-decoration:none;">www.ce180.com</a>
      	<span style="color:#ff6600;font-size:14px;line-height:24px;font-weight:bold;">思易网</span>测试版
      </div>
      <div style="font-size:12px;line-height:18px;">您是我们宝贵的初期用户，我们期望与您一同建设一个更优秀、更全面、更专业的社交网络。</div>
    </div>
  	<!--text 3 end--> 
     	    
  	<!--text 4 begin-->
    <div style="width:610px;padding:10px 20px 10px 20px;overflow:hidden; margin:0px; line-height:18px;color:#666;">
    	<div style="font-size:12px;line-height:18px;">由衷的感谢！</div>
      <div style="font-size:12px;line-height:18px;">CE180团队</div>
    </div>
  	<!--text 4 end-->      

    <div style="clear:both;height:0px; font-size:0px; line-height:0px;">&nbsp;</div>
  </div>
  <!--content box end-->
	<!--copyright begin-->
  <div style="width:610px;padding:0px 20px 0px 20px; line-height:30px;height:50px;border-top:1px solid #333;">
  	<span style="font-family:Arial;line-height:18px;color:#333;">Copyright 2012-2015 <a href="http://www.ce180.com" style="line-height:18px;color:#333; text-decoration:none;">ce180.com</a>, All Rights Reserved 京ICP备12001621</span>
  </div>	
  <!--copyright end-->	
