  	<div style="height:25px;line-height:25px;">&nbsp;</div>
		<!--text 2 begin-->
    <div style="width:610px;padding:0px 20px 10px 20px;overflow:hidden; margin:0px; line-height:24px;">
    	<div style="color:#666;font-size:12px;line-height:24px;">
				Want to learn the four key features of 
				<span style="color:#ff6600;font-size:12px;line-height:24px;">www.ce180.com</span>? 
			</div>
			<div style="color:#666;font-size:12px;line-height:24px;">
				<span style="color:#333;font-size:12px;line-height:18px;font-weight:bold;">1) E-Name Card:</span> get a personal E-Name Card simply by completing your registration;
      </div>
			<div style="color:#666;font-size:12px;line-height:24px;">
				<span style="color:#333;font-size:12px;line-height:18px;font-weight:bold;">2) Professional Dashboard:</span> set up your personalized dashboard by joining the industries you like;
			</div>
      <div style="color:#666;font-size:12px;line-height:24px;">
				<span style="color:#333;font-size:12px;line-height:18px;font-weight:bold;">3) Exchange E-Name Cards:</span> make connections with new contacts and expand your business network on CE180 by exchanging E-Name Cards;
			</div>
			<div style="color:#666;font-size:12px;line-height:24px;">
				<span style="color:#333;font-size:12px;line-height:18px;font-weight:bold;">4) Choose your CE180 Offline Events:</span> move your business connections beyond the online world by attending events in your city
      </div>
    </div>
  	<!--text 2 end-->  	
	<div style="height:25px;line-height:25px;">&nbsp;</div>
  	<!--text 3 begin-->
    <div style="width:610px;padding:0px 20px 0px 20px;overflow:hidden; margin:0px; line-height:18px;color:#666;">
      <div style="font-size:12px;line-height:18px;">As one of our early users, we look forward to working with you to build a better, more comprehensive, professional social network. Thanks again for joining CE180 beta!</div>
    </div>
  	<!--text 3 end--> 
     <div style="height:25px;line-height:25px;">&nbsp;</div>	    
  	<!--text 4 begin-->
    <div style="width:610px;padding:0px 20px 0px 20px;overflow:hidden; margin:0px; line-height:18px;color:#666;">
    	<div style="font-size:12px;line-height:18px;padding-bottom:10px;">Sincerely,</div>
      <div style="font-size:12px;line-height:18px;">THE CE180 TEAM</div>
    </div>
  	<!--text 4 end-->    

    <div style="clear:both;height:0px; font-size:0px; line-height:0px;">&nbsp;</div>
  </div>
  <!--content box end-->
	<!--copyright begin-->
  <div style="width:610px;padding:0px 20px 0px 20px; line-height:18px;height:3px;border-top:1px solid #333;">
  	<span style="font-family:Arial;line-height:18px;color:#333;">Copyright 2012-2015 <a href="http://www.ce180.com" style="line-height:18px;color:#333; text-decoration:none;">ce180.com</a>, All Rights Reserved 京ICP备12001621</span>
  </div>	
  <!--copyright end-->	
