	<!--logo begin-->
  <div style="background-color:#eee;">
	  <div style="height:10px;line-height:10px;">&nbsp;</div>&nbsp;&nbsp;
    <a href="http://www.ce180.com/"><img src="http://www.ce180.com/images/ce180_logo.jpg" width="226" height="34" border="0" alt=""/></a>
	  <div style="height:10px;line-height:10px;">&nbsp;</div>  
  </div>
  <!--logo end-->
  <!--content box begin-->
	<div style="width:650px;margin:0px;line-height:30px;">
  	<!--title begin-->
    <div style="width:610px;padding:30px 20px 10px 20px;overflow:hidden; margin:0px; line-height:24px;">
    	<div style="color:#333;font-size:14px;line-height:24px;">WELCOME to
			<span style="color:#ff6600;font-size:12px;line-height:24px;">www.ce180.com</span>, China’s first comprehensive event-social network integrating the online and offline worlds. <span style="color:#ff6600;font-size:14px;line-height:24px;font-weight:bold;">Real People, Real World, Real Business!</span>
			</div>
    </div>
  	<!--title end-->
