<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<div style="width:650px;margin:0px auto; background-color:#fff;padding:0px 75px;font-size:12px;font-family:tahoma,Arial,sans-serif;">
    <%=render :partial => "mail_header_en"%>
  	
  	<!--text 1 begin-->
    <div style="width:610px; margin:0px;line-height:24px;background-color:#eee;padding-left:20px;padding-right:20px;padding-top:15px;padding-bottom:15px;">
    	<div style="color:#333;font-size:14px;line-height:24px;">Thanks for joining 
      	<span style="color:#ff6600;font-size:12px;line-height:24px;">www.ce180.com</span>
      	<span style="color:#333;font-size:14px;line-height:24px;font-weight:bold;">! To complete your registration, please click the link below to activate your account!</span>
      </div>
      <div style="color:#ff6600;font-size:14px;line-height:24px;font-family:Arial;">
				<%=link_to @activation_url,@activation_url ,:style=>"color:#ff6600; line-height:18px;font-size:14px;float:left;"%>
      </div>
    </div>
  	<!--text 1 end-->

    <%=render :partial => "mail_bottom_en"%> 
  <div style="clear:both;height:0px; font-size:0px; line-height:0px;">&nbsp;</div>
</div>
</body>
</html>
