<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
</head>
<body>
<div style="width:600px;margin:0px auto;padding:20px;font-size:14px;font-family:Arial;line-height:20px; text-align:justify;">
	<div style="font-weight:bold;color:#000;font-size:14px;font-family:Arial;">Dear <%=@user.displayable_name%></div>
	<div style="height:20px;line-height:20px;font-family:Arial;">&nbsp;</div>
  <div style="line-height:20px;font-family:Arial;color:#000;">It is my great pleasure to announce and welcome you to the beta launch of <span style="color:#000;font-weight:bold;line-height:20px;">CE180</span>, our new event social network. Our all-new interface will make a dramatic difference in the way users manage contacts and connect to events. Ultimately CE180 aims to create a continuous cycle whereby professionals convert online interactions into stronger relationships at CEBEX events and then continue to build on these connections online. </div>
	<div style="height:10px;line-height:10px;font-family:Arial;">&nbsp;</div>
	<div style="line-height:20px;font-family:Arial;color:#000;">We’ve appreciated your support and involvement in past CEBEX events and look forward to continued engagement via CE180. With this in mind, we are extending to you an exclusive invitation to join our online community as an “Industry Expert.” As an Industry Expert on CE180 you will be able to promote your expertise by posting important updates such as media coverage, speaking engagements and awards. Your account will also allow you access all of the features that regular users enjoy including interaction with professionals across a diverse array of industries.  We have already created an account for you, which includes your basic information and professional bio. You can access it here at:<a href="http://www.ce180.com/" style="color:#0000ff;line-height:20px;">www.ce180.com/</a>. Please view your account information:
  </div>
	<div style="height:10px;line-height:10px;font-family:Arial;">&nbsp;</div>
  <div style="line-height:20px;font-family:Arial;color:#000;">
		<div style="line-height:20px;font-family:Arial;color:#000;padding-left:100px;">
    	<span style="color:#000;line-height:20px;">Username:</span>
      <span style="color:#ff6600;line-height:20px;"><%=@user.login%></span>
    </div>
		<div style="line-height:20px;font-family:Arial;color:#000;padding-left:100px;">
      <span style="color:#000;line-height:20px;">Password:</span>
      <span style="color:#ff6600;line-height:20px;"><%=@user.login.split("@")[0]+"cebex"%></span>
    </div>
	</div>
  <div style="height:10px;line-height:10px;font-family:Arial;">&nbsp;</div>
	<div style="line-height:20px;font-family:Arial;color:#000;">After accessing the site, you will have the opportunity to change your password. Currently, CE180 is an invitation-only community. However, we would like to offer you the chance to invite five users of your choice.
  </div>
	<div style="height:10px;line-height:10px;font-family:Arial;">&nbsp;</div>
  <div style="line-height:20px;font-family:Arial;color:#000;">We are looking forward to fully utilizing all of the advancements that CE180 has to offer to create a better experience for professionals and industry experts. Currently the website is in its beta stage and by requesting input we aim to continuously expand its features to allow it to reach its full potential. As a valued contributor to our events, and a new member of our online community, we welcome your feedback on the site, which can be sent to feedback@ce180.com or myself. We hope you will enjoy working with its many features and we will continue to improve upon the site in the coming months. 
  </div>
  <div style="height:10px;line-height:10px;font-family:Arial;">&nbsp;</div>
  <div style="line-height:20px;font-family:Arial;color:#000;">Real People, Real World, Real Business: CE180. </div>
  <div style="height:10px;line-height:10px;font-family:Arial;">&nbsp;</div>
	<div style="line-height:20px;font-family:Arial;color:#000;">Sincerely,</div>
</div>
</body>
</html>
