<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="Description" content="" />
</head>
<body>

<table width="700" cellpadding="0" cellspacing="0" border="0" align="center" style="font-size:12px;font-family:Arial,sans-serif;">
  <!--banner begin-->
  <tr>
    <td>
      <div style="background-color:#eee;">
        <div style="height:10px;line-height:10px;font-size:0px;">&nbsp;</div>
        <div style="line-height:39px;height:39px;">&nbsp;&nbsp;&nbsp;&nbsp;<img src="http://www.ce180.com/images/ce180_logo.jpg" width="226" height="34" border="0" alt=""/></div>
        <div style="height:10px;line-height:10px;font-size:0px;">&nbsp;</div>
      </div>	
    </td>
  </tr>
  <!--banner end-->
  
  <!--content begin-->
  <tr>
    <td>
      <table style="width:700px;" cellpadding="0" cellspacing="10" border="0" align="left" vat>
        <tr>
          <td style="line-height:5px;font-size:12px;height:5px;">&nbsp;</td>
        </tr>  
        <tr>
          <td style="color:#191919;font-size:14px;line-height:20px;">
            <div style="line-height:20px;color:#191919;font-weight:bold;">Dear <%= @inquirer.name %>,</div>
          </td>
        </tr>
        <tr>
          <td style="line-height:5px;font-size:12px;height:5px;">&nbsp;</td>
        </tr>           
        <tr>
          <td style="line-height:18px;font-size:14px;color:#191919;">
            我们已收到您在<a href="http://www.ce180.com/" style="color:#069;text-decoration:underline;line-height:18px;">思易网(CE180)</a>上提交的参加<strong style="font-weight:bold;font-style:normal;line-height:18px;">“财产保护羽翼：国际化理念及财富管理”</strong>论坛的申请。我们的CEBEX论坛组委会及花旗银行顾问委员会将对您的申请进行审核，并根据您的邀请状态尽快与您联系。关于本次会议如果您有任何问题，请随时致信 <a href="mailto:muren@cebexgroup.com" style="color:#069;text-decoration:underline;line-height:18px;">muren@cebexgroup.com</a>。祝您愉快！谢谢
          </td>
        </tr>
        <tr>
          <td style="line-height:10px;font-size:12px;height:10px;">&nbsp;</td>
        </tr>          
        <tr>
          <td style="line-height:18px;font-size:14px;color:#191919; text-align:justify;">
          This is to acknowledge the receipt of your registration for the <strong style="font-weight:bold;font-style:normal;line-height:18px;">"Preserving your Legacy through Global Citizenship and Wealth Management"</strong> forum. Our CEBEX committee and advisers from Citibank will review your application and touch base with you as soon as possible regarding the status of your invitation. Should you have any further questions regarding the event, please feel free to email <a href="mailto:muren@cebexgroup.com" style="color:#069;text-decoration:underline;line-height:18px;">muren@cebexgroup.com</a>. Warm regards and best wishes. Thank you
          </td>
        </tr>
        <tr>
          <td style="line-height:10px;font-size:12px;height:10px;">&nbsp;</td>
        </tr>                                    
        <tr>
          <td style="color:#191919;font-size:11px;line-height:18px;">
           CEBEX集团将保留拒绝申请的权利。<br/>CEBEX reserves the right to reject applications for invitations. 
          </td>
        </tr>
        <tr>
          <td style="color:#069;font-size:12px;line-height:18px;">CEBEX集团思易网</td>
        </tr>          
        <tr>
          <td style="line-height:10px;font-size:12px;height:10px;">&nbsp;</td>
        </tr>                                                                     
        <tr>
          <td style="border-top:1px #CCCCCC solid;line-height:24px;font-size:12px;color:#191919;"> © 2012, CE180 <a style="color:#069; text-decoration:none;" href="http://www.ce180.com/">www.ce180.com</a></td>
        </tr>
        <tr>
          <td style="line-height:20px;font-size:12px;height:20px;">&nbsp;</td>
        </tr>                                                    
      </table>
    </td>	
  </tr>
       
  <!--content end-->               
</table>

</body>
</html>
