<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="Description" content="" />
</head>
<body>
<div style="width:700px;margin:0px auto;font-size:12px;font-family:Arial,sans-serif;background-color:#fff;">
	<div style="width:700px;margin:0px;padding:0px;">
  	<table width="700" cellpadding="0" cellspacing="0" border="0" align="center">
    	<!--banner begin-->
      <tr>
      	<td>
        	<div style="background-color:#333;padding:10px 20px;">
          	<img src="http://www.ce180.com/images/ce180_ebeta.jpg" width="232" height="39" border="0" alt=""/>
        	</div>
        </td>
      </tr>
    	<!--banner end-->

      <!--content begin-->
      <tr>
      	<td>
          <table style="width:700px;" cellpadding="0" cellspacing="10" border="0" align="left">
            <tr>
              <td style="color:#191919;font-size:14px;line-height:20px;font-family:Arial">
              	<div style="line-height:20px;color:#191919;font-weight:bold;"><%= @name %>,</div>
              </td>
            </tr>
            <tr>
              <td style="color:#191919;font-size:14px;line-height:20px;font-family:Arial">
              	<div style="color:#191919;font-size:14px;line-height:20px;">请保留此邮件，以便查阅您的思易网帐户信息：<br/>Please save this email, so you can refer back to your account details:</div>
                <div style="height:10px;line-height:10px;">&nbsp;</div>
                <div style="color:#191919;font-size:14px;line-height:20px; background-color:#ccc;">
                	<div style="height:5px;">&nbsp;</div>
                	<div style="line-height:20px;"><span style="color:#069;line-height:20px;font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(用户名)</span> USERNAME: <%= @login %></div>
  								<div style="line-height:20px;"><span style="color:#069;line-height:20px;font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(密码)</span> PASSWORD: <%= @pass %></div>
                  <div style="height:5px;">&nbsp;</div>
                </div>
              </td>
            </tr>            
            <tr>
              <td style="color:#191919;font-size:14px;line-height:20px;font-family:Arial">
              	<div style="line-height:20px;color:#191919;">欢迎加入<span style="color:#069;line-height:20px;">www.ce180.com</span>! CE180思易网是中国首家线上线下专业会议活动社交网。使用思易网，您可以获得以下收获:</div>
              </td>
            </tr>
            <tr>
              <td style="color:#191919;font-size:14px;line-height:20px;font-family:Arial">
              	<div style="line-height:20px;color:#191919;">Welcome to <span style="color:#069;line-height:20px;">www.ce180.com</span>! CE180 is China’s first professional event social network integrating the online and offline worlds. By being active on CE180 you will be able to:</div>
              </td>
            </tr>
            <tr>
              <td style="color:#191919;font-size:14px;line-height:20px;font-family:Arial">
              	<table cellpadding="0" cellspacing="10" border="0">
                	<tr>
                  	<td>
                    	<div style="color:#191919;font-size:14px;line-height:24px;">
                      	<span style="font-weight:normal;line-height:24px;font-size:14px;">●</span>
                      	<span style="color:#069;line-height:24px;font-size:14px;">拓展个人商业人脉</span>/ Strengthen your professional network；
                      </div>
                    	<div style="color:#191919;font-size:14px;line-height:24px;">
                      	<span style="font-weight:normal;line-height:24px;font-size:14px;">●</span>
                      	<span style="color:#069;line-height:24px;font-size:14px;">搜索、注册并付费参加高端线上商务会议</span>/ Search, register and pay for high level business events online；
                      </div>
                    	<div style="color:#191919;font-size:14px;line-height:24px;">
                      	<span style="font-weight:normal;line-height:24px;font-size:14px;">●</span>
                      	<span style="color:#069;line-height:24px;font-size:14px;">管理商业名片</span>/ Manage your contacts；
                      </div>
                    	<div style="color:#191919;font-size:14px;line-height:24px;">
                      	<span style="font-weight:normal;line-height:24px;font-size:14px;">●</span>
                      	<span style="color:#069;line-height:24px;font-size:14px;">发现最新行业热点</span>/ Discover new industry insights；
                      </div>
                    	<div style="color:#191919;font-size:14px;line-height:24px;">
                      	<span style="font-weight:normal;line-height:24px;font-size:14px;">●</span>
                      	<span style="color:#069;line-height:24px;font-size:14px;">向专家学者学习最佳实践经验</span>/ Learn best practices of your profession.
                      </div>
										</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="color:#191919;font-size:14px;line-height:20px;font-family:Arial">
                <div style="color:#191919;font-size:14px;line-height:20px;">我们很乐意为您提供服务，助您贯通线下线下商务与社交资源。作为我们的新用户，我们衷心希望您能为我们反馈你忙宝贵的建议，请发送邮件至<a href="mailto:feedback@ce180.com" style="text-decoration:none;color:#069;">feedback@ce180.com</a></div>
                <div style="height:15px;line-height:15px;">&nbsp;</div>
                <div style="color:#191919;font-size:14px;line-height:20px;">We look forward to helping connect your online and offline worlds with CE180. As a new user, we encourage you to get in touch with us to provide comments or feedback directly to <a href="mailto:feedback@ce180.com" style="text-decoration:none;color:#069;">feedback@ce180.com</a></div>
                <div style="height:15px;line-height:15px;">&nbsp;</div>
                <div style="color:#191919;font-size:14px;line-height:20px;">此致，</div>
                <div style="color:#191919;font-size:14px;line-height:20px;">&nbsp;&nbsp;&nbsp;敬礼</div>
                <div style="color:#191919;font-size:14px;line-height:20px;">Sincerely,</div>
              </td>
            </tr>
						<tr>
              <td style="color:#191919;font-size:14px;line-height:20px;font-family:Arial">思易网团队<br/>The CE180 Team</td>
            </tr>
					</table>
				</td>
      </tr>
    	<!--footer end-->
    </table>
  	<div style="clear:both;height:1px; font-size:0px; line-height:0px;">&nbsp;</div>
  </div>
  <div style="clear:both;height:1px; font-size:0px; line-height:0px;">&nbsp;</div>
</div>
</body>
</html>

