<div class="discussion width630">
    	<div class="title25">
      	<strong>你的看法</strong>
        <em>一共有36条评论</em>
      </div>        
      <!-- text begin-->     
      <div class="d_comment">
      	<textarea></textarea>                                        
      	<div class="inp_su">
        	<label>请输入右边图片的文字</label>
        	<input type="text" value="">
          <span>rt294</span>
          <input type="submit" value="评论" class="submit">
        </div>
      </div>
      <!-- text end--> 
      <!--comment list begin-->
      <div class="e_coment_discu">
      	<!--list begin-->
        <div class="comment_n">
        	<strong><a href="#">陈廷夫：</a><span>希望会议圆满成功希望会议圆满成功希望会议圆满成功希望会议圆满成功！</span></strong>
          <em>1小时前</em>
        </div>
        <!--list end-->
      	<!--list begin-->
        <div class="comment_n">
        	<strong><a href="#">陈廷夫：</a><span>希望会议圆满成功希望会议圆满成功希望会议圆满成功希望会议圆满成功！</span></strong>
          <em>1小时前</em>
        </div>
        <!--list end-->
      	<!--list begin-->
        <div class="comment_n">
        	<strong><a href="#">陈廷夫：</a><span>希望会议圆满成功希望会议圆满成功希望会议圆满成功希望会议圆满成功！</span></strong>
          <em>1小时前</em>
        </div>
        <!--list end-->
        <!--pagination begin-->
        <div class="pagination">
        	<span class="previous_page disabled">&lt;&lt;上一页</span>
          <em class="current">1</em>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a class="next_page" href="#">&gt;&gt;下一页</a>
        </div>      
        <!--pagination begin-->    
        <div class="clear">&nbsp;</div>
      </div>
      <!--comment list end-->
      <div class="clear">&nbsp;</div>
    </div>
