<div class="content">
    <!--left begin-->
    <div class="about_left fl pdLR10"> 
			<div class="about_title">
				<strong>User Agreement 用户使用协议</strong>
				<div class="clear">&nbsp;</div>
			</div>
      <a name="top">&nbsp;</a>
			<div class="clear">&nbsp;</div>
			<!--1 begin-->
      <div class="about_conment">
      	<h4>1. 服务简介</h4>
        <p>a.	目的</p>
        <p class="pad_left25">CE180（思易网）旨在为中西方商务精英打造一个商务社交型交流平台，助力他们创造成功未来。为了实现这一目标，网站竭诚为您服务满足您的多种需求，帮助您拓展人脉商业网络，与更多专业人士会面交流，分享时下热点，学习新知识，发掘新机遇，并利用可靠人脉进行合作。</p>
				<p>b.	范围与目的</p>
        <p class="pad_left25">用户通过注册程序阅读本服务条款并点击"同意"按钮完成注册，表示用户与CEBEX集团思易网已达成协议，自愿接受本服务条款的所有内容。
如果思易网用户代表的是一家公司或其他法人实体，那么无论公司是否已和我们签订其他合约，用户都要遵循本协议的所有规定。如果用户不想注册思易网账户，请不要签订用户使用协议，并请不要进入网站，浏览、下载或使用任何网页、信息或服务。如点击“同意《思易网使用协议》”，表明用户已经阅读并理解协议条款，同意遵守所有协议要求。</p>
			</div>   
      <!--1 end-->
      <!--2 begin-->
      <div class="about_conment">
      	<h4>2. 用户义务</h4>
        <p>a.	适用法律及《思易网使用协议》</p>
        <p class="pad_left25">用户必须遵守所有适用法律及协议内容。我们可能会不时对协议进行修改，并 保留未提前通知用户的情况下修改本协议的权利。政策条款及使用程序将从以下几个部分阐述：</p>
        <p class="pad_left25">1. 使用规则；</p>
        <p class="pad_left25">2. CE 180内容投诉；</p>
        <p class="pad_left25">3. 思易网用户隐私制度</p>
        <p>b.	用户提交信息的许可与担保</p>
        <p class="pad_left25">在本协议规定范围内，用户可以在思易网发表信息，并保留删除不适信息的权利。但是，如果用户信息已与其它用户分享，其它用户并没有删除该信息，或信息已由其它用户复制或存储，则该信息无法删除。此外，思易网对用户所提供的信息享有非独有、不可撤销、全球范围内、永久、无限制、可转让、免版税的信息复制权，并享有对用户提供给思易网的直接或间接信息，以目前或未来某种方式，进行复制、提高、传播、出版、删除、保留、添加、加工、分析、使用及商业化的权利，包括但不限于，任何用户创作的内容、创意、观念、技术或数据。思易网使用以上信息，可以不用征得用户或第三方的同意、通知且/或赔偿用户或第三方。用户提交任何信息须独自承担风险，详情请参照本协议第二、第三条。</p>
        <p class="pad_left25">用户有权向我方提交信息，并承诺提交的信息真实可靠，不含机密性，并没有侵犯任何合同权限或第三方权利。用户有责任保持思易网个人主页信息的准确性与及时更新。</p>
        <p>c.	服务资格</p>
        <p class="pad_left25">用户享有思易网服务资格须符合下列条件，声明及保证：1）用户当前没有受到服务限制，或没有被禁止使用思易网帐户；2）用户与思易网不存在竞争关系，或用户不得使用思易网服务与思易网竞争；3) 用户在任何时候只能使用一个思易网帐户；4）用户全权订立此协议，并保证不会违反其它协议的使用；5）用户不可侵犯思易网的任何一项权利，包括知识产权，如版权或商标权；6）用户必须自备所有上网设备、软件及互联网使用许可。</p>
        <p>d.	登录证书</p>
        <p class="pad_left25">用户要求如下：1）保持密码的安全、机密；2）帐户不可转借他人使用；3）禁止使用他人帐户；4）禁止向第三方出售、交易或转让思易网帐户；5）禁止向他人收费使用思易网服务与信息。用户对帐户负责，除非此帐户已关闭，或非自身因素引起账号被盗。</p>
        <p>e.	豁免条款</p>
        <p class="pad_left25">由于以下原因而引起的第三方索赔、控诉以及调查，从而致使我方受到破坏、损失、成本消耗（包括并不限于合理律师费，或其它费用），用户要对我方进行赔偿：1）用户自身没有遵守此协议，包括但不限于，用户提交的内容侵犯第三方权利或其它适用法律；2）用户提交的任何请求；3）用户通过思易网进行的任何活动。</p>        
        <p>f.	协议违背通知</p>
        <p class="pad_left25">如果用户认为在强制性法律的要求下有义务违背此协议，那么须在违背此协议至少30天前以书面形式详细告知我方，并允许我方进行全权处理，并对此做出可代补偿。</p>
        <p>g.	服务通知及服务讯息</p>
        <p class="pad_left25">为了让用户享有服务信息知情权，思易网可能会在网页中放置一个通知栏，使用户明确用户使用协议更改等事项，通知还可能以电邮形式发送给思易网用户。用户同意思易网通过思易网帐号或电邮、手机或固话等其它方式与用户取得联系。请用户对思易网发送的信息进行设置，自行选择控制内容。用户承认并同意，由于用户原因不能与与思易网有效联络或享受其服务，思易网不承担责任。</p>  
        <p>h.	用户对用户的沟通与分享</p>
        <p class="pad_left25">思易网提供各类论坛，用户可以在指定话题中发表观点提出建议。此外，用户还可在思易网上分享信息，包括分享新闻链接或个人主页、网站其它板块的内容，如思易网公司、行业及活动页面。</p>
				<p class="pad_left25">注意：您分享的观点及信息可能会被其它用户看见和使用，思易网不能担保其它用户不会使用您在思易网的的观点或信息。因此，如果您希望保密您的创意或信息，不希望被其它用户使用；或此信息归第三方所有，分享此信息有可能侵犯第三方权益，请不要在思易网、用户最新动态或思易网其它位置上分享这些敏感信息。<strong style="font-weight:bold;">用户如在思易网上滥用或盗用思易网论坛信息，比如公司、行业和活动等信息，思易网不承担任何责任。</strong></p>
				<p>i.	用户对思易网的贡献</p>
        <p class="pad_left25">用户通过反馈网页向思易网提交想法、建议、文件、且/或方案（“贡献”）时，应确认并同意如下：1）用户贡献的信息不具有机密性；2）思易网无义务保密、明示或暗示用户贡献的信息；3）不管是以任何目的、任何方式、任何媒介，思易网都有权使用或披露（或选择不使用或披露）用户贡献的信息；4）思易网可能正在计划或发展类似用户贡献的信息；5）思易网享有用户贡献所有信息的所有权；6）用户在任何情况下都无权享有思易网的任何赔偿或退款。</p>                        
			</div>  
    	<!--2 end-->
      <!--3 begin-->
      <div class="about_conment">
      	<h4>3. 用户权利</h4>
        <p>用户要遵守本协议中规定的所有义务，包括但不限于：第九条用户使用规则。我方同意用户在遵守协议规定的权利基础上享有有限、可废除的、非独有、不可转让的思易网使用许可和权利，及通过使用有效浏览器，查看信息及使用思易网服务。其他任何违反思易网的使命和目的（如与陌生人或不信任的人交流，或未经思易网明确授权搜集信息、从事商业活动）被视为违背本协议的禁止行为。我方享有协议未明确授权的权利，包括但不限于：头衔、所有权、知识产权及其它权利与利益条款，包括思易网的所有复制信息。</p>
			</div>    
    	<!--3 end-->
      <!--4 begin-->
      <div class="about_conment">
      	<h4>4. 思易网权利与义务</h4>
        <p>a.	服务可用性</p>
        <p class="pad_left25">思易网在有效服务期内致力于不断更新、提高及扩展服务内容，因此，除协议有特殊说明外，我方允许用户在思易网有效期内访问网站。我方享有更改、置换、拒绝访问请求、暂停或中止思易网部分或全部服务的权利。除非特别说明，所有更新内容一经网站通知或用户直接沟通即发生法律效力。当思易网认为用户违反此协议，思易网有权在通知或不通知用户的前提下扣留、 移除、且/或删除用户任何有效信息。为避免疑虑，思易网无义务储存、保持、提供您或其它用户在使用思易网过程中提供的信息。</p>
        <p>b.	第三方网站与开发商</p>
        <p class="pad_left25">思易网很可能含有第三方网站的链接。用户有访问第三方网站的权利。在使用第三方信息或分享其内容前，用户应先阅览第三方可适用的条款且/或政策，因为用户可能允许第三方使用某些信息，而我们对这些信息并无使用权限。</p>
        <p class="pad_left25">对于第三方网站在思易网提供的任何特征、内容、广告、产品或其它资料，思易网不承担任何责任。因而用户如访问第三方网站，须自行承担风险责任。</p>
  			<p>c.	用户信息披露</p>
        <p class="pad_left25">用户同意我方使用、保留、披露用户信息及用户提供的其它任何信息，若当任何法律或诚信行为要求我方合理地保留或披露用户信息时，我方将会做出如下决定：1）遵守法律程序，包括但不限于民事及刑事传唤、法庭要求或其它法律要求下的责任披露；2）强制执行本协议；3）回应第三方侵权声明，无论第三方是用户、个人或政府机构；4）客户服务咨询；5）保护思易网、我方用户或公众的权利、财产或个人安全。</p>
        <p class="pad_left25">除了用户支持、协议规定、或法律规定以外，我方向第三方披露用户信息的具体规定，请参见用户隐私制度。</p>
				<p>d.	用户间的联络与互动</p>
        <p class="pad_left25">您在与其它用户互动过程中需承担个人责任。思易网可能会限制您与其他用户的联络次数，或者我方可能在某些特定的情况下，阻止用户通过使用我方服务或其它限制服务与其它用户进行联络。思易网有权监督您与其它用户的纷争, 及思易网有权决定全权限制、暂停或关闭用户帐户。</p>                         
			</div> 
    	<!--4 end-->
      <!--5 begin-->
      <div class="about_conment">
      	<h4>5. 免责声明</h4>
        <p><strong>鉴于一些国家及司法机构不允许与用户签定含有默认条款的免责声明，因此，本部分内容并不针对所有用户。</strong></p>
				<p>不要将思易网的所有信息或任何有待发布的信息作为参照依据。思易网作为用户交流平台，所有信息及服务都是公开呈现并可供利用的。思易网不会控制或审查用户信息是否准确。我方不提供任何担保或声明。</p>
        <p>在适用法允许的范围内，我方否认任何担保及声明，包括但不限于可销性、特殊用途、所有权、数据的准确性及其它非侵权担保。如果用户对思易网不满意，或受到思易网直接或间接的任何伤害，根据本协议第六条相关规定，用户可以关闭思易帐户及终止本协议，这种方式被视为思易网对用户的唯一的补偿。</p>
        <p>用户通过思易网向其它用户传递的任何信息（如利用电子邮件，发表评论，或转发其它用户著作的信息），思易网不承担任何责任。此外，用户在使用我方服务时，如对第三方造成侵权，我方不承诺或声明担负任何责任。网站上使用或描述的任何资料、服务或技术可能属于第三方的知识产权，并已授权给我方使用。</p>
        <p>思易网无义务审查用户身份，及监督用户信息是否被他人使用。因此，思易网对用户身份被盗窃、用户身份或信息被滥用不承担任何责任。</p>
        <p>思易网不能保证我方提供的服务不会出现间断性的运行错误。特别是由于思易网需要定期维护、更新系统、网络，因此，服务运营可能会出现中断。思易网对出现的任何运营中断或运营错误不承担任何责任。此外，由于设备问题、因特网服务提供商干扰、因特网饱和等任何原因引起的任何故障，网站无法访问或网站状态不佳，思易网不承担任何责任。</p>
			</div>    
    	<!--5 end-->
      <!--6 begin-->
      <div class="about_conment">
      	<h4>6. 终止服务</h4>
        <p>a.	双方权利终止</p>
				<p class="pad_left25">用户有权在任何时间、以任何理由或无理由终止本协议，具体请参照本协议8.C条款。用户终止此协议在思易网处理终止请求后方为有效。同时，思易网有权在任何时间，以任何理由、通知或不通知用户的情况下终止协议及用户帐户。一经通知立即生效。用户帐户服务终止包括禁止用户访问思易网，及禁止该用户的思易网未来使用权。</p>
        <p>b.	用户滥用服务</p>
				<p class="pad_left25">思易网有权限制、暂停或终止滥用思易网服务的任何用户帐户。滥用服务的范围包括联络陌生用户；滥用思易网消息服务；编写多份或虚假的个人主页；未经思易网授权私自利用思易网服务进行商业活动；侵犯任意一种知识产权及协议第九条中的任意一条使用规则，被思易网视为侵犯其自主、全权享有的行为。</p>
        <p>c.	效力终止</p>
				<p class="pad_left25">思易网帐户一经终止，用户即失去了访问网站的权利。本协议在服务终止之后将继续有效，协议第三条“用户权利”和第四条中的a-b条款，以及d条款“思易网权利与义务”除外。</p>    	</div>   
    	<!--6 end-->	
      <!--7 begin-->
      <div class="about_conment">
      	<h4>7. 纠纷解决</h4>
        <p>a.	法律争端解决</p>
				<p class="pad_left25">不论用户所在国家或思易网的登录地在何处，双方之间发生的源于本协议或与本协议相关的任何争议、控诉或索赔，都应由英属维尔京群岛管辖，但如果协议与《联合国国际货物销售合同公约》相冲突，则应以《联合国国际货物销售合同公约》为准。除非双方另行规定，或在下文“仲裁选项”中另有说明，双方一致同意源于本协议或与本协议相关的任何争议、控诉或索赔应由英属维尔京群岛所属法院独立审理解决。尽管有前述规定，思易网仍有权申请在其他任何地域管辖法院的禁令救济(等同于紧急法律救济)。</p>
        <p>b.	仲裁选项</p>
				<p class="pad_left25">对于本协议下任何索赔（不包括禁令索赔或其他公正的免除债务行为），裁决的总金额不得超过10,000美元，请求解除索赔一方可以用一种较节约成本的方式，通过具有约束力的不出庭仲裁请求解决纷争。选择仲裁的一方，应通过已确立的非诉纠纷解决方式（“简称ADR”）提供者发起仲裁请求，ADR提供者的选择须经双方同意。ADR的提供者及其当事人必须遵守以下规则：(a) 仲裁应通过电话、网络和/或书面形式进行，具体方式由仲裁方选择; (b) 仲裁不应涉及到任何当事人或者证人的出席，除非是经过所有当事人的同意：C) 任何仲裁裁决出来的结果均可以交由具有合法管辖权的法院处理。</p>
			</div> 
    	<!--7 end-->	
			<!--8 begin-->
      <div class="about_conment">
      	<h4>8. 普通条款</h4>
        <p>a.	可分割性</p>
				<p class="pad_left25">如果享有管辖权的法院或仲裁员认为本协议之任何条款非法、无效或不具有强制效力，则该条款将会被修改为有效、合法并具有强制执行效力的条款，以达到本合同项下最大的合法限度，合理反应双方意图。如果该条款被修改后仍被认为非法、无效或不具有强制履行效力，该条款不影响协议其余条款的有效性。</p>
        <p>b.	语言</p>
				<p class="pad_left25">为了给用户提供方便，思易网思易网特别为您提供了有关协议、隐私制度、及/或其他英文文件的汉译本，其中协议英文版本、隐私制度及其它文件作为用户与思易网思易网关系的有效约束文件。</p>
        <p>c.	通知与服务程序</p>
				<p class="pad_left25">除本协议2.g.条款(“服务通知及服务讯息”)外，我们将通过思易网思易网向您发出通知。</p>
        <p class="pad_left25">另外，您也可以通过以下地址直接给我们发送邮件或快递：</p>   
        <p class="pad_left25" style="font-weight:bold;">北京市朝阳区日坛路6号新族大厦主楼9层CEBEX集团</p>   
        <p class="pad_left25">邮编： 100020</p>  
        <p class="pad_left25">此外，思易网接受上述地址的书面通知，与上述地址不符的任何通知不具备法律效力。</p>      
        <p>d.	协议全部条款</p>
				<p class="pad_left25">用户同意本协议构成双方签订的独家协议全部内容，替代此前双方按照习俗、惯例、政策及先例签订的口头或书面协议。另外，当您在使用思易网其他服务，查看第三方内容或使用第三方软件时，可能还需要您接受附加条款。</p>
				<p>e.	修订协议</p>
				<p class="pad_left25">思易网保留修订、补充、替代协议条款的权利，协议条款一经发布或通知即产生法律效力。例如，我方会发布有关协议或隐私制度修改的通知，便于用户及时登录查看。如果用户不同意修改该协议，可参照第6条 “终止服务”随时终止协议。</p> 
				<p>f.	非正式弃权、协议或声明无法律效力</p>
				<p class="pad_left25">如果用户已违反本协议内容，但思易网尚未采取法律行动，并不表示当类似行为或其他违反协议行为再次发生时，我们会放弃法律行动。除非双方协议明确规定，任何用户担保、陈述、言论、许可、弃权、疏忽或其他行为均视为无法律效力。思易网正式委任人签字除外。</p> 
				<p>g.	无禁令救济</p>
				<p class="pad_left25">在任何情况下，用户没有权利、不能试图撤回禁令或其他公正救济，阻止或限制服务运营，或干涉网站发布的广告、材料、服务、及其他内容。 </p> 
				<p>h.	转让及授权</p>
				<p class="pad_left25">用户不得转让或授权本协议规定的权利或义务。任何讹传的转让及授权条款无效。思易网有自由转让或委托本条款中的所有权利和义务而不需要全部或部分通知用户的权利。思易网也可以单边修订、替代部分条款，一经通知用户即产生法律效力，本协议的权利义务由第三方承受。</p> 
				<p>i.	其他潜在权利和义务</p>
				<p class="pad_left25">除本协议所列内容外，用户还需遵守当地法律法规的权利义务规定。</p>                                                                        
			</div> 
			<!--8 end-->
      <!--9 begin-->
      <div class="about_conment">
      	<h4>9. 思易网用户使用规则</h4>
        <p>作为思易网的访问条件，用户须同意本协议内容并严格遵守以下使用规则：</p>
				<p>a.	用户应遵循以下内容：</p>
        <p class="pad_left25">1. 遵守所有适用法律，包括但不限于隐私法、知识产权法、出口管制法、税法及其他法规要求；</p>
        <p class="pad_left25">2. 提供并更新准确信息；</p>
        <p class="pad_left25">3. 查阅并遵守隐私制度；</p>
        <p class="pad_left25">4. 查阅并遵守思易网发出的服务通知；</p>
        <p class="pad_left25">5. 从专业角度使用思易网所提供的服务。</p>
				<p>b.	用户应杜绝以下违规行为：</p>
        <p class="pad_left25">1. 在思易网上发布不恰当、不准确内容，表现不诚实专业；</p>
        <p class="pad_left25">2. 在公共主页上发表错误信息（如名字栏有链接或邮箱）。请保护好您的敏感性个人信息，如邮箱、电话号码、地址或其他信息；</p>
        <p class="pad_left25">3. 以化名注册公共主页；</p>
        <p class="pad_left25">4. 骚扰、滥用或伤害他人，包括通过思易网网与他人进行不受欢迎的沟通；</p>
        <p class="pad_left25">5. 邀请陌生人加入您的个人联系网；</p>
        <p class="pad_left25">6. 上传非本人头像；</p> 
        <p class="pad_left25">7. 使用或试图使用未经公司授权的其他账户，或在思易网上制造虚假身份；</p> 
        <p class="pad_left25">8. 上传、发布、电邮、传达或拟定以下内容：</p> 
        <p class="pad_left50">a. 虚假陈述，模仿或谎报身份，包括但并不限于使用化名，在现职位、曾任职位或资格证书上作假，在与某公司或某人的合作关系上作假；</p>
        <p class="pad_left50">b. 发表非法、诽谤、凌辱、猥亵、歧视性或令人生厌的言论；</p>
        <p class="pad_left50">c. 发布与板块无关的话题（如在“称呼”栏或其他栏填写电话号码，或者在思易网没有提供指定板块的情况下，乱填电话号码、电邮、街道地址或其他个人身份信息）；</p> 
        <p class="pad_left50">d. 在法律、契约或受托关系不允许的范围内公开信息（如在员工关系或保密协议中包含的内部信息、或机密性的所有者信息）；</p> 
        <p class="pad_left50">e. 侵犯专利、商标、商业秘密、版权或其他专用权；</p> 
        <p class="pad_left50">f. 包括未经同意或未被授权的广告、宣传材料、“垃圾邮件”、“滥发邮件”、“连锁信”、“金字塔系统”，或其他形式的教唆。禁令包括但不仅限于：(a) 利用思易网向陌生人或不熟悉的人发消息；(b) 利用思易网联系陌生人，并在未经本人同意的情况下直接发送宣传信息；(c) 按照思易网会员列表及公司列表发送信息或发布广告；</p> 
        <p class="pad_left50">g. 使用软件病毒、蠕虫病毒及其他恶意代码、文档或程序，中断、破坏或限制了思易网本部或思易网任意用户的电脑软硬件功能或通讯设备；</p> 
        <p class="pad_left50">h. 伪造标题或篡改识别符，以达到隐瞒任何服务传播沟通来源的目的；</p>
        <p class="pad_left25">9. 直接或间接参与销售网络的成立或发展事宜，该网络试图通过网络寻求销售人员从事金字塔系统或其他类似活动; </p>
        <p class="pad_left25">10.	除本协议同意或思易网明确授权以外，在思易网上复制、售卖执照、转让授权、出版、广播、发送、散布、执行、展示、销售或转发信息（不包含用户本人发布的内容）；</p> 
        <p class="pad_left25">11.	通过逆向工程、解译、拆解、解密方式，试图获取服务中包含的任何潜在知识产权的源代码；</p> 
        <p class="pad_left25">12.	利用或复制思易网信息、内容或任何数据，提供竞争性服务；</p> 
        <p class="pad_left25">13.	未与思易网签署书面协议，直接、间接的暗示或声称两者合作关系或授权；</p> 
        <p class="pad_left25">14.	在思易网服务、其他用户内容的基础之上生成、修改或创建衍生作品，经思易网同意的除外；</p> 
        <p class="pad_left25">15.	全部或者部分出租、租赁、贷款、贸易、销售/再销售思易网的访问权限或任何信息；</p>
        <p class="pad_left25">16.	未经思易网明确书面许可，销售、赞助思易网或以赢利为目的，使用思易网、其他服务或功能；</p> 
        <p class="pad_left25">17.	出于任何目的深链接网站（如，包括思易网主页以外的页面链接），思易网正式授权或未推广思易网个人公共主页的除外；</p> 
        <p class="pad_left25">18.	删除思易网所含任何版权、商标或其他所有权通知，包括思易网及其授权商；</p> 
        <p class="pad_left25">19.	移除、遮盖或马赛克思易网上的任何广告；</p> 
        <p class="pad_left25">20.	未经协议或信息所有者明确允许，收集、使用、复制或转发任何信息，包括但并不限于，从思易网获得的经证实的信息，经本协议或信息拥有者特别允许的除外；</p> 
        <p class="pad_left25">21.	未经本人同意分享非用户信息；</p> 
        <p class="pad_left25">22.	未经思易网明确允许，随意侵犯或使用思易网品牌、标识和/或商标，将“思易网”作为商业名称、邮件或网址，或包括思易网商标和标识；</p> 
        <p class="pad_left25">23.	利用手动或自动软件、设备、机器人，用“刮”、“爬”或“蜘蛛”方法访问思易网网站任何页面或服务；</p> 
        <p class="pad_left25">24.	未经思易网获准，利用bots(一种能执行外部命令的自动运行型木马)或其他自动化办法进入思易网，添加或下载联系人，发送或重新定向消息，或通过思易网进行其他活动；</p> 
        <p class="pad_left25">25.	为达到竞争取胜目的，采用自动化或手动化方式及程序进入思易网，对思易网的服务、表现或功能进行监控；</p> 
        <p class="pad_left25">26.	将思易网的影像挪为他用，模仿思易网外观或功能；</p> 
        <p class="pad_left25">27.	试图或已通过思易网官方界面以外的方式进入思易网，或使用网页浏览器导览思易网。禁止通过任何第三方服务进入或试图进入思易网，包括通过软件服务平台进入包括思易网在内的多种服务；</p> 
        <p class="pad_left25">28.	试图或实际翻阅思易网中包含或潜在的安全组件；</p> 
        <p class="pad_left25">29.	直接或间接干扰思易网基础架构的行动，包括但不限于，未经同意向思易网用户或员工发送沟通信息，未经授权进入思易网，或向思易网上传输、激活电脑病毒；</p> 
        <p class="pad_left25">30.	干扰思易网网站或服务，包括但不限于，与思易网相关的任何服务器或网络，尤其是思易网搜索算法。</p>                
			</div>  
    	<!--9 end-->	
      <!--10 begin-->
      <div class="about_conment">
      	<h4>10.	思易网内容投诉</h4>
        <p>我们致力于通过思易网竭诚为您服务，帮助您成为优秀的专业人士，并帮助更多的专业人士与企业走向成功。为此，我们鼓励用户分享更有用和准确的信息。同时，我们尊重他人的知识产权。因此，协议要求用户所发布的内容应具有准确性，并不对第三方知识产权及其他权利造成损害。为达成这些目标，思易网为用户提供投诉提交流程。政策及流程如下：</p>
			</div>
			<!--10 end-->	
      <!--11 begin-->
      <div class="about_conment">
        <h4>11. 侵权索赔</h4>
				<p>如果用户认为版权已被侵犯，请书面告知，包括：</p>
				<p class="pad_left25">1. 版权所有人授权代表的电子签名或手写签名；</p>
        <p class="pad_left25">2. 关于版权受侵的描述；</p>
        <p class="pad_left25">3. 关于网站材料受侵地点的具体描述；</p> 
        <p class="pad_left25">4. 您的电话号码与邮箱；</p>
        <p class="pad_left25">5. 关于版权未经版权所有者、代理人及法律许可而被使用的陈述； </p>
        <p class="pad_left25">6. 伪证处罚声明，证明所述信息的准确性，及您是版权所有者或版权所有者的授权代表； </p>
        <p class="pad_left25">7. 国家版权局发布的版权登记复印件；</p>
        <p>请提交邮寄至以下地址：</p>
        <p style="font-weight:bold;">北京市朝阳区日坛路6号新族大厦主楼9层CEBEX集团</p>
        <p>邮编： 100020</p>
        <p>注明：版权侵犯 </p>
			</div>
    	<!--11 end-->	
			<!--12 begin-->
      <div class="about_conment">
        <h4>12.	关于内容及侵犯知识产权的声明（除版权侵犯）</h4>
        <p>如果您确认网站用户发布的内容（“指定内容”）已侵害您的知识产权（除了版权——请参见版权侵犯），不准确或非法，请将侵权声明邮寄至上述地址。您所提交的任何声明将作为伪证罪惩罚的依据。</p>
			</div>
    	<!--12 end-->
			<div class="click_top"><a href="#top">回到顶部</a></div>			
		</div>
    <!--left end-->
    <%=render "menu"%>
</div>
