<div class="company_bar">
	<span class="prev browse">&nbsp;</span>
 	<div class="navi">
		<a href="0" class="active">&nbsp;</a>
		<a href="1" class="">&nbsp;</a>
		<a href="2" class="">&nbsp;</a>
		<a href="3" class="">&nbsp;</a>
	</div>
	<span class="next browse">&nbsp;</span>
</div>