
<!--main begin-->
<div class="main">
	<div class="coming">
		<em>&nbsp;</em>
		<span>网站准备中,感谢您的关注敬请期待......<br/>This page is in preparation, thanks for your attention.<br/><a href="/">返回首页. Return to home page. &gt;&gt;</a></span>
	</div>
	<div class="clear">&nbsp;</div>	
</div>
<!--content end-->

