<div class="content">
    <!--left begin-->
    <div class="about_left fl pdLR10">
			<div class="about_title">
				<strong><%=_('给CE180提建议')%></strong>
				<div class="clear">&nbsp;</div>
			</div>
       <!--list begin-->
  		 <div class="about_conment">
          <p><%=_('如果您在使用CE180的过程中遇到疑问，或者有任何的意见或者建议，欢迎随时向我们反馈。我们会尽快回答您的问题，并依据您的反馈，不断完善CE180。')%></p>
          <%= render 'form' %>
        </div>
    </div>
    <!--left end-->
    
    <%=render "/general/menu"%>
</div>
