form{
  li{
    display:block;
    height:50px;
    line-height:50px;
    label{
      display:block;
      width:150px;
      float:left;
    }
    a{
      
    }
  }

  table{
    td{
      height:42px;
    }
  }
}