        <!--Daily jokes begin-->
        <div class="day_joke">
          <h4><%=_('每日笑话')%></h4>
					<p><%#=DailyJoke.order("id desc").last.content if DailyJoke.order("id desc").last%></p>
        </div>
        <!--Daily jokes end-->
                

