<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="604" height="449" id="uploadavatar" align="middle">
				<param name="movie" value="uploadavatar.swf" />
				<param name="quality" value="high" />
				<param name="bgcolor" value="#f0f2e4" />
				<param name="play" value="true" />
				<param name="loop" value="true" />
				<param name="wmode" value="window" />
				<param name="scale" value="showall" />

				<param name="menu" value="true" />
				<param name="devicefont" value="false" />
				<param name="salign" value="" />
				<param name="allowScriptAccess" value="sameDomain" />
				<!--[if !IE]>-->
				<object type="application/x-shockwave-flash" data="/uploadavatar.swf?upurl=http://192.168.1.52:3000/uploads" width="604" height="449">
					<param name="movie" value="uploadavatar.swf" />
					<param name="quality" value="high" />
					<param name="bgcolor" value="#f0f2e4" />

					<param name="play" value="true" />
					<param name="loop" value="true" />
					<param name="wmode" value="window" />
					<param name="scale" value="showall" />
					<param name="menu" value="true" />
					<param name="devicefont" value="false" />
					<param name="salign" value="" />
					<param name="allowScriptAccess" value="sameDomain" />
				<!--<![endif]-->

					<a href="http://www.adobe.com/go/getflash">
						<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="获得 Adobe Flash Player" />
					</a>
				<!--[if !IE]>-->
				</object>
				<!--<![endif]-->
			</object>
