      <div style="float:left">
        <p  border = "1"  ><a >列属性：</a><font color="red" size="4"> "主号uid", "UID", "昵称", "位置", "性别", "粉丝", "关注", "微博", "注册时间", "认证信息", "认证原因", "备注", "标签"</font></p>
      </div>

      <div class="span4" style = "clear:both;float:left">
        例如：(<ul>
         <li>商用频道：2295615873</li>
         <li>中国： 2637370927</li>
         <li>超级本：2637370247</li>
        )<可以任意一个人只能提取近2000个粉丝></ul>
        <%=text_area_tag "params[uids]", "", :rows=>"10"%>
      </div>
 


