      <div style="float:left">
        <p  border = "1"  ><a >列属性：</a><font color="red" size="4">zero 1-5次 5-10次 10-20次 20以上</font></p>
      </div>
 

      <div class="span4" style="clear:both">
        选择日期条件: <br/>

        <%=text_field_tag "params[time]",nil, :placeholder=>"时间"%>

        <br/>
      </div>


