      <div style="float:left">
        <p  border = "1"  ><a >列属性：</a><font color="red" size="4">"openid", "name", "nick", "微博", "收听", "听众", "location", "创建时间", "性别", "经验", "等级", "是否实名认证", "vip", "认证类型", "标签", "互动时间", "内容", "互动微博URL", "动作", "原微博url"</font></p>
      </div>

      <div class="span4" style="clear:both;float:left">
        输入 urls 列表(每行一个):
         
       <p> 例如：<a href = "http://t.qq.com/p/t/276258003183418">http://t.qq.com/p/t/276258003183418</a></p>
        <%=text_area_tag "params[urls]", "", :rows=>"10"%>
      </div>

    


