      <div style="float:left">
        <p  border = "1"  ><a >列属性：</a><font color="red" size="4"> openid 日均发帖量 活跃度  原创占比 转发率 评论率</font></p>
      </div> 

     <div class="span4" style="clear:both">
        输入 openids 列表(每行一个):
        例如：(<ul>
         <li>英特尔中国： 0B6A468C0642625453023BFB0D1B8570</li>
        )</ul>
        <%=text_area_tag "params[openids]", "", :rows=>"10"%>
      </div>

    
      </div>


