      <div style="float:left">
        <p  border = "1"  ><a >列属性：</a><font color="red" size="4">"openid", "name", "nick", "微博", "收听", "听众", "location", "创建时间", "性别", "经验", "等级", "是否实名认证", "vip", "认证类型", "标签", "活跃度"</font></p>
      </div> 

     <div class="span4" style="clear:both">
        输入 openids列表(每行一个):
        例如：(<ul>
         <li>英特尔中国： 0B6A468C0642625453023BFB0D1B8570</li>
        )</ul>
        <%=text_area_tag "params[openids]", "", :rows=>"10"%>
      </div>

    
      </div>


