      <div style="float:left">
              <p  border = "1"  ><a >列属性：</a><font color="red" size="4">"微博连接","平均传播层级","BUZZ声量"</font></p>
      </div> 

     <div class="span4" style="clear:both">
        输入 url 列表(每行一个):
        例如：(<ul>
         <li>http://weibo.com/2637370927/BxU2AFVo3</li>
         <li>http://weibo.com/2637370927/By2i9kCPZ</li>
         <li>http://weibo.com/2637370247/BxLgajzJh</li>
         <li>http://weibo.com/2637370247/BxWj7gITt</li>
        )</ul>
        <%=text_area_tag "params[urls]", "", :rows=>"10"%>
      </div>

    
      </div>
