      <div style="float:left">
        <p  border = "1"  ><a >列属性：</a><font color="red" size="4">subscribe openid nickname sex language city province country headimgurl subscribe_time</font></p>
      </div>

      <div class="span4" style = "clear:both;float:left">
        例如：(<ul>
         <li> </li>
         
        )</ul>
        <%=text_area_tag "params[uids]", "", :rows=>"10"%>
      </div>



