      <div style="float:left">
        <p  border = "1"  ><a >导出列属性：</a><font color="red" size="4">uid 之前粉主号时间 之前是否是粉丝（Y/N） 现在是否是主号粉丝（Y/N） 主号是否关注他（Y/N）</font></p>
      </div>

      <div class="span4" style="clear:both;float:left">
        输入 UID 列表(每行一个):
        <%=text_area_tag "params[uids]", "", :rows=>"10"%>
      </div>

      <div class="span4">
        输入是否关注的主号UID(<br/>
         例如：(<ul>
         <li>金融街：192453194</li>
         <li>商用频道：2295615873</li>
         <li>中国： 2637370927</li>
         <li>超级本：2637370247</li>
        )</ul>

        <%=text_field_tag "params[uid]",""%>
      
        <br/>
      </div>


