      <div style="float:left">
        <p  border = "1"  ><a >列属性：</a><font color="red" size="4">url 内容 转发数 评论数  互动量 参与互动人数  发布时间 是否原创 uid 发布账号昵称 粉丝数 类型</font></p>
      </div>

      <div class="span4" style="clear:both;float:left">
        输入 urls 列表(每行一个):
       <p> 微博标准如：<a href = "http://weibo.com/1795839430/AgSsLmcnY">http://weibo.com/1795839430/AgSsLmcnY</a></p>
        <%=text_area_tag "params[urls]", "", :rows=>"10"%>
      </div>

    


