      <div style="float:left">
        <p  border = "1"  ><a >列属性：</a><font color="red" size="4">"UID", "昵称", "位置", "性别", "粉丝", "关注", "微博", "注册时间", "认证信息", "认证原因", "备注", "标签"</font></p>
      </div>

      <div class="span4" style="clear:both;float:left">
        输入 urls 列表(每行一个):
       <p> 微博标准如：<a href = "http://weibo.com/1795839430/AgSsLmcnY">http://weibo.com/1795839430/AgSsLmcnY</a></p>
        <%=text_area_tag "params[urls]", "", :rows=>"10"%>
      </div>

    


