      <div style="float:left">
        <p  border = "1"  ><a >导出列属性：</a><font color="red" size="4">UID 内容 时间 转发 评论 URL 来源 类型 原创</font></p>
      </div>

     <div class="span4" style="clear:both;float:left">
        例如：(<ul>
         <li>金融街：192453194</li>
         <li>商用频道：2295615873</li>
         <li>中国： 2637370927</li>
         <li>超级本：2637370247</li>
        )</ul>
        <%=text_area_tag "params[uids]", "", :rows=>"10"%>
      </div>

      <div class="span4">
        选择日期条件: <br/>

        <%=text_field_tag "params[start_time]",nil, :placeholder=>"起始日期"%>
        <%=text_field_tag "params[end_time]", nil, :placeholder=>"结束日期"%>

        <br/>
      </div>


