      <div style="float:left">
              <p  border = "1"  ><a >列属性：</a><font color="red" size="4">"标签", "标签排行"</font></p>
      </div> 

     <div class="span4" style="clear:both">
        输入 uids 列表(每行一个):
        例如：(<ul>
         <li>金融街：192453194</li>
         <li>商用频道：2295615873</li>
         <li>中国： 2637370927</li>
         <li>超级本：2637370247</li>
        )</ul>
        <%=text_area_tag "params[uids]", "", :rows=>"10"%>
      </div>

    
      </div>
