      <div style="float:left">
        <p  border = "1"  ><a >包含：</a><font color="red" size="4">keyword url content name detail fans post_time retweets comments   retweet_name retweet_fans</font></p>
      </div>

      <div class="span4">
      
        <li>url：(http://weibo.com/1881422534/Bez9shEGS)</li>
        
        <%=text_area_tag "params[urls]", "", :rows=>"10"%>
        
        Keyword: <br/>
        <%=text_field_tag "params[keyword]",nil, :placeholder=>"云计算"%>
        <br/>
      </div>


